<html>
  
  <head>
    <title>The Gossip Project</title>
  </head>
  
  <body>
    <h1>PAGE POTIN</h1>
    <h3>Voici la page du potin n°<%=params['id']%></h3>
    <p>Son auteur : <%= gossip[0].author.capitalize%></p>
    <p>Le contenu du potin : <%= gossip[0].content.capitalize%></p>
    <h3> Pour modifier le potin rempli les informations ci-dessous</h3>
    <form action='http://localhost:4567/gossips/<%=params['id']%>/edit' method='POST'>
      Saisi ici ton nouveau nom :  <input type='text' name='gossip_author'/><br/>
      Balance ton potin modifié : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>

    <p><a href='http://localhost:4567/'>Lien pour revenir à la page des potins</p>
    

  </body>
  
</html>