<html>
  
  <head>
    <title>The Gossip Project</title>
  </head>
  
  <body>
    <h1>PAGE POTIN</h1>
    <h3>Voici la page du potin n°<%=params['id']%></h3>
    <p>Son auteur : <%= gossip[0].author.capitalize%></p>
    <p>Le contenu du potin : <%= gossip[0].content.capitalize%></p>
    <p><a href='http://localhost:4567/'>Lien pour revenir à la page des potins</p>

  </body>
  
</html>
